
.lp__hero{
    width: 100%;
}

.lp__hero-bgpattern{
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    z-index: 0;
}

.lp__hero-bgpattern img{
    width: 100%;
}

.lp__hero-box{
    width: 100%;
}

.lp__hero-box__container{
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 0px;
    padding-top: 100px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp__hero-box__container-content{
    width: 50%;
    padding-left: 116px;
}

.lp__hero-box__container-content p{
margin: 0;
padding: 0;
}

.lp__hero-box__container-content-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: var(--darkgrey);
    margin: 20px 0px!important;
}

.lp__hero-box__container-content-subheading{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.lp__hero-box__container-content-heading{
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -0.03em;
}

.lp__hero-box__container-content_form{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 10px;
}

.lp__hero-box__container-content_form-input{
    flex: auto;
}

.lp__hero-box__container-content__form-input p{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--darkgrey);
    opacity: 0.4;
}

.lp__hero-box__container-content__form-input input{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--darkgrey);
    opacity: 0.6;
    border: none;
    outline: none;
}

.lp__hero-box__container-content__form-button{
    background-color: var(--black);
    color: var(--bgwhite);
    padding: 15px 45px;
    border: none;
    margin-left: 25px;
    font-weight: 700;
}

.lp__hero-box__container-content__tick{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.lp__hero-box__container-content__tick-tick{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.lp__hero-box__container-content__tick-tick img{
    width: 15px;
    margin-right: 5px;
}

.lp__hero-box__container-img{
    width: 50%;
}

.lp__hero-box__container-img img{
    width: 100%;
}

