.g__blogarticle{
    width: 100%;
}

.g__blogarticle img{
    width: 100%;
}

.g__blogarticle__meta{
    display: flex;
    justify-content: start;
    align-items: center;
}

.g__blogarticle__meta p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: var(--darkgrey);
    margin-right: 15px;
}

.g__blogarticle-heading{
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: var(--black);
    margin: 10px 0px;
}

.g__blogarticle-para{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: var(--darkgrey);
}